/*main text color #212121 */
/*second text color #757575 */
/*accent color #2196F3*/
/*main background #ffffff*/
/*second background #F5F4FA*/
/*footer background #2F303A*/

/*page index*/
.page {
  color: #757575;
  font-family: Roboto;
  font-size: 14px;
  line-height: 24px;
  background-color: #ffffff;
}

/*header page*/
.header {
  background-color: #ffffff;
}

/*logo*/
.logo {
  color: #000000;
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
}

.logo-item {
  color: #2196f3;
}

/*header nav*/
.header-nav {
  color: #212121;
  font-weight: 500;
}
.header-nav :hover,
.header-nav :focus {
  color: #2196f3;
}

/*header nav conacts*/
.nav-contacts {
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}
.nav-contacts :hover,
.nav-contacts :focus {
  color: #2196f3;
}

/*page section with button*/
.section-button {
  background-color: #2f303a;
}

.section-button-title {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
}

.page-button {
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  background-color: #2196f3;
}

/*section feature*/
.feature {
  background-color: #ffffff;
}
.feature-title {
  color: #212121;
  font-size: 14px;
  line-height: 16px;
}

/*work and team*/
.work {
  background-color: #ffffff;
}

.team {
  background-color: #f5f4fa;
}

.section-title {
  color: #212121;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
}

.team-title {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.color-group {
  background-color: #ffffff;
}

.team-text {
  font-size: 16px;
  line-height: 19px;
}

/*page footer*/
.footer {
  background-color: #2f303a;
}

.logo-footer {
  color: #ffffff;
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
}

.address-contacts {
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
}

.footer-contacts {
  color: rgba(255, 255, 255, 0.6);
}

.address {
  color: #ffffff;
}

/*page portfolio*/
.page-portfolio {
  color: #212121;
  font-family: Roboto;
}

/*button filtres*/
.button-filtres {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
}

.color-button {
  background-color: #f5f4fa;
}

.button-filtres :focus,
.button-filtres :hover {
  color: #ffffff;
  background-color: #2196f3;
}

/*project*/
.projects-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
}

.projects-text {
  color: #757575;
  font-size: 16px;
  line-height: 30px;
}

/*text formatting*/
.list {
  list-style: none;
  text-decoration: none;
}
